body {
    font-size: 16px;
    background-color: rgb(248, 244, 244);
}

#libraryApp {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

@media screen and (max-width: 900px) {
    #libraryApp {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }     
    #divTable {
        display: grid;
        align-content: center;
        justify-items: center;
        font-size: 0.6rem;
    }   
}

#divTable {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 70%;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

/* #divRadio, #divCheckbox {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

#radioButtons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, auto 1fr);
    /* flex-direction: row;
    justify-content: space-between; */
}

#checkboxButtons {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

#divButton {
    display: grid;
    justify-items: center;
}

button {
    font-weight: bold;
    background-color:rgb(129, 238, 196);
    padding: 0.5rem;
}

button:hover {
    background-color: rgb(112, 207, 112);
}

#alert {
    display: flex;
    flex-direction: column;
    color: red;
    /* border: 1px solid red; */
    /* box-shadow: 0 0 0.5rem red; */
    /* padding: 1rem; */
}

#alert h4 {
    margin: 0;
    display: flex;
    /* padding: 1rem; */
}

#alert ul {
    display: grid;
    row-gap: 0.3rem;
    margin: 0;
    padding-bottom: 1rem;
    padding-inline-start: 1rem;
}

#bookTable {
    border: 1px solid orangered;
    box-shadow: 0 0 1rem rgb(97, 75, 75);
    table-layout: fixed;
    word-break: break-word;
    width: 90%;
    /* padding: 0.5rem; */
}

#bookTable th {
    padding: 0.3rem;
    background-color: indianred;
    vertical-align: middle;
}

#bookTable td {
    word-break: break-word;
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center;
}